.rightSide {
  background-color: rgba(6, 22, 32, 0.388);
}
.container {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 750px;
  border-radius: 5px;
  overflow: hidden;
  background-image: linear-gradient(rgb(33, 127, 216), rgb(170, 214, 255));
  background-size: cover;
  background-position: center;
  box-shadow: 0px 5px 10px 0px rgba(33, 127, 216, 0.7);
}
.bgItem {
  background-image: linear-gradient(
    -30deg,
    rgb(51, 111, 167),
    rgb(51, 111, 167),
    rgb(195, 202, 210),
    rgb(195, 202, 210)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* leftSide styles */

.leftSide {
  padding: 30px 48px;
  /* padding-bottom: 35px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 80%; */
  flex-basis: 40%;

  /* background-size: ; */
}
.leftSide > p {
  font-size: 10px;
  font-weight: bold;
}
.flex {
  display: flex;
}
.mainDetails > h1 {
  font-size: 54px;
  font-weight: 400;
}
.mainDetails.flex {
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}
.mainDetails > div > p {
  font-size: 9px;
  font-weight: 200;
}
.mainDetails > div > h1 {
  font-weight: 400;
  font-size: 24px;
}

/* .rightSide styles  */

.rightSide {
  padding: 20px 30px;
  font-size: 10px;
  color: rgb(176, 182, 194);
  line-height: 40px;
  position: relative;
  flex-basis: 40%;
}
.rightSide ul {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.rightSide form {
  margin-bottom: 1rem;
}
.lastLocation{
  padding-left: 0;
}
.lastLocation li:hover {
  color: white;
}
#input {
  background-color: transparent;
  padding: 0;
  outline: none;
  border: 0;
  color: white;
}
#input::placeholder {
  color: rgb(176, 182, 194);
}
#input + button {
  background-color: rgb(141, 173, 252);
  color: rgb(54, 54, 54);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  border: none;
}
#input + button:active {
  transition: all 0.4s;

  background-color: rgb(173, 196, 255);
}
#input + button:active > * {
  transform: scale(0.8);
  transition: all 0.2s;
}

.lastLocation li {
  cursor: pointer;
  list-style: none;
}
.details tr td:nth-child(even) {
  text-align: end;
  color: white;
}
.border-b {
  border-bottom: 1px solid rgb(132, 153, 192);
  width: 100%;
}
.border-b:nth-child(1) {
  width: 80%;
}

@media only screen and (max-width: 700px) {
  .container {
    width: 98%;
  }
  .leftSide {
    width: 100%;
  }
  .mainDetails {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
    flex-direction: column;
  }
  .mainDetails {
    flex-direction: row;
  }
}
